
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  }
.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.grid > article img {
  max-width: 100%;
}
.text {
  padding: 0 20px 20px;
}

.movie_cards{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  align-items: center;
  gap:15px 10px;

}
.movie_card_img{
  height: 800px;

}
@media only screen and (max-width: 600px) {
  .movie_cards{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  margin-left: 0px;

}
.movieDataDiv{
  padding-bottom: 2em;
  background-color: bisque;
  display: grid;
  align-items: center;
  height: 100%;
}
.movie_card_img{
  height: auto;
}
}
.slider_images{
  width: 400px;
  margin-top: 5em;
  border-radius: 10px;

}
.slider{
  position: relative;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: auto;
  background-color:#db7f8e;
 
}
.right-arrow{
  position:absolute;
  top:50%;
  right:32px;
  font-size: 3rem;
  color: yellow;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.left-arrow{
  position:absolute;
  top:50%;
  left:32px;
  font-size: 3rem;
  color:yellow;;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.tending_text{
  margin-top: 2em;
}
.tending_text h1{
  letter-spacing: 3px;
}
.border_div{
  border-bottom:2px solid black ;
  margin-top: 2em;
}
.moviePosterDiv{
  width: 48%;
  margin-top: 5em;
  margin-left: 1em;

}
.movie_title_detail{
  font-size: 20px;
  margin-top: 2em;
  margin-left: 1.5em;
}
.movieDataDiv{
  padding-bottom: 2em;
  background-color: bisque;
}
.watch{
  background: burlywood !important;
  color: black !important;
  font-weight: bold;
  letter-spacing: 2px;
  outline: none;
}
.watch:hover{
  background:#db7f8e !important;
  transition: 0.3s !important;
}
.movie_cardss{
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
}
